<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @receiver.name %>, status of your parcel from <%= @sender.name %> changed to <%= @status %> </h1>
    <p>
      Use this ID: <%= @parcel.id %> to track it.<br>
    </p>
    <p>
      Visit link: <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>